header.navbar {
  background-color: #ffffff;
  border: none;
}
header.navbar div.need_qoute {
  height: 40px;
  background-color: #29322f;
  margin-bottom: 45px;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
}
header.navbar div.need_qoute div.need_quotes {
  float: right;
}
header.navbar div.need_qoute div.region_quote {
  float: left;
  margin-top: 12px;
  margin-right: 18px;
}
header.navbar div.need_qoute div.soc-links {
  float: left;
  margin-top: 10px;
}
header.navbar div.need_qoute p {
  text-align: center;
}
header.navbar .logo_img img {
  width: 308px;
  height: auto;
}
header.navbar .navbar-collapse {
  float: right;
  border-color: transparent;
}
header.navbar nav ul.nav li {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #36413e;
  height: 55px;
}
header.navbar nav ul.nav {
  height: 55px;
  border-bottom: 1px solid #e8eef2;
}
header.navbar .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
header.navbar nav ul.nav li ul {
  background: #fb1d00;
}
header.navbar nav ul.nav li ul li ul {
  background: #36413e;
}
header.navbar nav ul.nav li ul li,
header.navbar nav ul.nav li ul li ul li {
  width: 300px;
  height: 30px;
}
header.navbar nav ul.nav li ul li a,
header.navbar nav ul.nav li ul li ul li a {
  color: #ffffff;
  line-height: 19px;
}
header.navbar nav ul.nav li.open a:focus,
header.navbar nav ul.nav li.open a:hover {
  color: #640c00;
  background-color: transparent;
}
header.navbar ul.nav li:hover {
  border-bottom: 5px solid #fb1d00;
}
header.navbar ul.navbar-nav li.open:hover {
  border: none;
}
header.navbar ul.navbar-nav li ul li ul li:hover {
  border: none;
}
div.soc-links ul {
  list-style: none;
  font-size: 20px;
}
div.soc-links ul li {
  float: left;
  padding-right: 10px;
}
div.soc-links ul li a {
  color: #ffffff;
}
span.para_color {
  color: #e5e503;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent !important;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: transparent !important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent !important;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: transparent !important;
}
@media screen and (max-width: 992px) {
  header.navbar .navbar-header {
    float: none;
  }
  header.navbar .navbar-toggle {
    display: block;
  }
  header.navbar .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    float: none;
    height: auto;
    border-bottom: none;
  }
  header.navbar .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  header.navbar .navbar-collapse.collapse {
    display: none !important;
  }
  header.navbar nav ul.nav {
    float: none;
    margin-top: 7.5px;
    background: #fb1d00;
    height: auto;
  }
  header.navbar .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
  }
  header.navbar .collapse.in {
    display: block !important;
  }
  header.navbar .navbar-default .navbar-collapse {
    height: auto !important;
    border-bottom: none !important;
    float: none;
  }
  header.navbar .container {
    width: 100%;
    margin: 0 auto;
  }
  header.navbar nav ul.nav li {
    height: auto;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #36413e;
    float: none;
  }
  header.navbar ul.navbar-nav li:nth-child(1) {
    width: auto;
  }
  header.navbar .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
  }
  header.navbar nav ul.nav li ul.dropdown-menu li {
    height: auto;
    width: auto;
  }
  header.navbar ul.navbar-nav li:nth-child(2) {
    width: auto;
  }
  header.navbar .navbar-nav>li>a {
    line-height: 19px !important;
  }
  header.navbar ul.navbar-nav li:nth-child(3) {
    width: auto;
  }
  header.navbar ul.navbar-nav li:nth-child(4) {
    width: auto;
  }
  header.navbar ul.navbar-nav li:nth-child(5) {
    width: auto;
  }
  header.navbar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #36413e;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
  }
  header.navbar .nav .open>a,
  header.navbar .nav .open>a:focus,
  header.navbar .nav .open>a:hover {
    background-color: #36413e;
  }
  header.navbar ul.navbar-nav li ul li ul {
    margin-left: 30px;
  }
  header.navbar ul.navbar-nav li a:hover {
    border-bottom: none;
    color: #ffffff !important;
  }
  header.navbar .tile .views-col {
    padding: 45px 0 0 30px;
  }
  header.navbar #block-getintouchs .soc-links {
    height: 51px;
  }
  header.navbar nav ul.nav li ul li.open ul.dropdown-menu {
    display: block !important;
  }
}
@media screen and (max-width: 402px) {
  header.navbar div.need_qoute {
    height: 80px;
  }
  header.navbar div.need_qoute div.need_quotes {
    float: none;
  }
  header.navbar div.need_qoute div.region_quote {
    float: none;
    margin-top: 0;
    margin-right: 0;
    padding-top: 15px;
  }
  header.navbar div.need_qoute div.soc-links {
    margin-top: 14px;
    padding-left: 110px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff !important;
  }
}
@media screen and (min-width: 993px) {
  header.navbar ul li ul li ul {
    left: 300px;
    top: -30%;
  }
}
div.banner {
  border: 1px solid #e8eef2;
  width: 100%;
  height: 436.5px;
  margin-top: 30px;
}
div.banner .region-banner {
  position: relative;
  top: 60px;
  margin-left: 76px;
  line-height: 20px;
}
div.banner canvas.particles-js-canvas-el {
  margin-top: -205px;
}
div.banner p.banner-header {
  width: 100%;
  height: 80px;
  font-family: OpenSans;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  color: #36413e;
}
div.banner p.banner-body {
  width: 100%;
  height: 54px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 300;
  color: #717c89;
  margin-top: 30px;
  margin-bottom: 20px;
}
div.banner .banner-link {
  width: 320px;
  height: 70px;
  background-color: #fb1d00;
  padding: 12px;
  color: #fff;
}
.tile {
  height: 150px;
  width: 100%;
}
.tile .views-col {
  border: 1px solid #e8eef2;
  height: 149px;
  padding: 45px 0 0 100px;
  width: 490px;
}
.tile img {
  width: 50px;
  float: left;
  margin-right: 10px;
}
.tile span.tile_title {
  float: left;
  margin-top: 20px;
  color: #717c89;
  font-family: OpenSans-Semibold;
  font-size: 18px;
  width: 160px;
}
.tile .glyphicon-phone:before,
.tile .glyphicon-earphone:before {
  float: left;
  margin-top: 9px;
  font-size: 40px;
  color: #36413e;
}
.tile .col-3 span.tile_title {
  margin-top: 5px;
}
.tile .fa-drupal:before {
  content: "\f1a9";
  float: left;
  margin-top: 5px;
  font-size: 40px;
  color: #36413e;
  margin-right: 8px;
}
@media screen and (max-width: 992px) {
  .tile .views-col {
    padding: 45px 0 0 35px;
  }
}
@media screen and (max-width: 768px) {
  .tile .views-col {
    width: 100% !important;
    height: auto;
    padding: 40px 0 45px 50px;
  }
  .tile {
    height: auto;
  }
}
.recent_proj {
  margin-top: 66px;
}
.recent_proj h2.featured-case-study {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #717c89;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e8eef2;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.recent_proj h2 span {
  background: #fff;
  padding: 0 10px;
}
.recent_proj .views-field-field-portfolio-image {
  width: 100%;
  height: 185px;
  border: solid 1px #e8eef2;
}
.recent_proj img {
  display: block;
  margin: 0 auto;
}
.recent_proj .views-field-title {
  text-align: center;
  border-right: 1px solid #e8eef2;
  border-left: 1px solid #e8eef2;
}
.recent_proj .views-field-title  a {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #36413e;
}
.recent_proj .views-field-title h4 {
  padding: 30px 0 0 0;
}
.recent_proj .views-col {
  width: 31%;
  margin-right: 15px;
}
.recent_proj .views-field-body {
  padding: 25px 0px 50px 15px;
  border-right: 1px solid #e8eef2;
  border-left: 1px solid #e8eef2;
}
.recent_proj .views-field-body p {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #717c89;
  line-height: 25px;
}
.recent_proj .views-field-nothing {
  height: 70px;
  background-color: #717c89;
  text-align: center;
  padding: 25px 0 0 0;
}
.recent_proj .more_link a {
  color: #ffffff;
  text-decoration: none;
}
.recent_proj .views-row {
  margin-top: 50px;
}
.recent_proj .more-link {
  margin-top: 45px;
  text-align: center;
  margin-bottom: 45px;
}
.recent_proj .more-link a {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #717c89;
  border: solid 1px #a3b6b4;
  padding: 25px;
}
.recent_proj .more-link a:hover {
  color: #ffffff;
  text-decoration: none;
  background: #fb1d00;
  transition: all .8s ease;
}
div.req_qoutes {
  height: 210px;
  background-color: #a3b6b4;
}
div.req_qoutes div.region-requuest-quotes {
  text-align: center;
  margin-top: 85px;
}
div.req_qoutes span.req_quot {
  width: 197px;
  height: 27px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
div.req_qoutes a.req_link {
  height: 70px;
  background-color: #fb1d00;
  padding: 15px;
  color: #fff;
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media screen and (max-width: 992px) {
  .recent_proj .views-col {
    width: 100%;
    margin-right: 0;
  }
  .recent_proj .views-field-field-portfolio-logo-image {
    width: 100%;
  }
  .recent_proj .more-link {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  div.banner .region-banner {
    margin-left: 15px;
  }
  header.navbar .logo_img img {
    width: 250px;
  }
}
@media screen and (max-width: 398px) {
  div.req_qoutes div.region-requuest-quotes {
    text-align: inherit;
  }
  div.req_qoutes span.req_quot {
    float: left;
  }
  div.req_qoutes span.reqlink {
    float: left;
    margin-top: 20px;
  }
}
form.contact-message-feedback-form label {
  width: 100%;
  height: 22px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #717c89 !important;
}
form.contact-message-feedback-form input.form-control {
  width: 100%;
  height: 35px;
  background-color: #ffffff;
  border: solid 1px #a3b6b4;
}
form.contact-message-feedback-form textarea {
  width: 100%;
  height: 125px;
  background-color: #ffffff;
  border: solid 1px #a3b6b4;
  border-color: #a3b6b4 !important;
}
form.contact-message-feedback-form .button {
  width: 170px;
  height: 49px;
  background-color: #fb1d00;
  border-color: #fb1d00 !important;
}
form.contact-message-feedback-form #edit-preview {
  display: none;
}
h2.cnt_header {
  width: 100%;
  min-height: 60px;
  font-family: OpenSans;
  font-size: 45px;
  font-weight: 300;
  color: #36413e;
  text-align: center;
  margin-top: 45px;
}
p.interested {
  width: 100%;
  min-height: 25px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 300;
  color: #717c89;
  text-align: center;
}
p.looking_forward {
  width: 100%;
  min-height: 25px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 800;
  color: #36413e;
  text-align: center;
}
.cont_header {
  border-top: 1px solid #e8eef2;
  border-bottom: 1px solid #e8eef2;
  min-height: 200px;
  margin-bottom: 35px;
}
.region-contact-details p.addrss {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #36413e;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #e8eef2;
}
.region-contact-details p.phone {
  width: 126px;
  height: 35px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #36413e;
  border-bottom: 1px solid #e8eef2;
  margin-top: 15px;
}
.region-contact-details p.cnt_email {
  height: 30px;
  margin-top: 15px;
}
.region-contact-details p.cnt_email a {
  width: 157px;
  height: 22px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #fb1d00;
  text-decoration: underline;
}
.protfolio .protfoliotile {
  background: #40b4e5;
}
.protfolio .protfolio_title_image img {
  max-height: 350px;
}
.protfolio .protfolio_title span {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.protfolio .protfolio_title h2 {
  font-family: OpenSans;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}
.protfolio .protfolio_title {
  padding: 60px;
}
.protfolio .protfolio_about {
  min-height: 108px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #717c89;
  margin-top: 60px;
  margin-bottom: 60px;
  line-height: 25px;
}
.protfolio .protfolio_about h2 {
  font-family: Cabin;
  font-size: 30px;
  font-weight: 700;
  color: #36413e;
  margin-top: 12px;
}
.protfolio .protfolio_main {
  min-height: 300px;
  background-color: #f5f5f5;
  padding-top: 55px;
  margin-bottom: 50px;
}
.protfolio .protfolio_background h2 {
  height: 33px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #a3b6b4;
  border-bottom: 1px solid #a3b6b4;
  margin-bottom: 25px;
}
.protfolio .protfolio_background img {
  border: 1px solid #a3b6b4;
}
.protfolio .protfolio_background .field--name-field-need p {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #717c89;
  margin-bottom: 20px;
  line-height: 25px;
}
.protfolio .Protfolio_solution h2 {
  height: 33px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #a3b6b4;
  border-bottom: 1px solid #a3b6b4;
  margin-bottom: 25px;
}
.protfolio .field--name-field-solution {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #717c89;
  padding-bottom: 25px;
  line-height: 25px;
}
.protfolio .Protfolio_result {
  background-color: #f5f5f5;
  min-height: 180px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.protfolio .Protfolio_result div.field--name-field-testimonials {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  color: #717c89;
  line-height: 25px;
}
.protfolio .Protfolio_result h2 {
  height: 33px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #a3b6b4;
  border-bottom: 1px solid #a3b6b4;
  margin-bottom: 25px;
}
.protfolio .field--name-field-outcome {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #717c89;
  line-height: 25px;
}
.protfolio .more_case_studies {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}
.protfolio .more_case_studies a {
  border: solid 1px #a3b6b4;
  padding: 15px;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #717c89;
}
.protfolio .more_case_studies a:hover {
  text-decoration: none;
}
.page-node-type-portfolio-item h1 {
  display: none;
}
.field--name-field-portfolio-full-image {
  margin-bottom: 20px;
}
.protfolioimg {
  border: 1px solid #a3b6b4;
}
.protcontent {
  padding-top: 32px;
}
.protcontent h3 {
  padding-bottom: 20px;
}
.protcontent h3 a {
  font-family: Cabin;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #36413e;
  text-transform: capitalize;
  text-decoration: none;
}
.protcontent p {
  font-family: OpenSans;
  font-size: 16px;
  color: #717c89;
  line-height: 25px;
}
.protcontent .morelinkprot {
  margin-top: 35px;
}
.protcontent .morelinkprot a {
  border: 1px solid #717c89;
  padding: 8px;
  background-color: #717c89;
  color: #fff;
}
.protcontent .morelinkprot a:hover {
  text-decoration: none;
}
.protrow {
  border-bottom: 1px solid #e8eef2;
  padding-bottom: 32px;
  padding-top: 20px;
}
.protheader {
  min-height: 200px;
  background-color: #36413e;
}
.protheader h2 {
  font-family: OpenSans;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}
.protheader .protbody {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  color: #a3b6b4;
  padding-top: 18px;
}
.protheader .protbody1 {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 800;
  color: #ffffff;
  padding-top: 12px;
}
.protheader .col-md-8 {
  padding-top: 35px;
}
.protheader .col-md-4 {
  padding-top: 90px;
}
.protheader input {
  height: 40px;
  background-color: #36413e;
  border: solid 1px #e8eef2;
  color: #e8eef2;
}
.protheader #edit-submit-recent-project {
  display: none;
}
.protheader .region-prot-filter {
  margin-bottom: 20px;
}
.cont_title {
  min-height: 100px;
  background-color: #36413e;
}
.cont_title h1 {
  padding-bottom: 9px;
  margin: 35px 0 20px;
  border-bottom: none;
  font-family: OpenSans;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}
.page-node-type-page .field--name-body h2 {
  font-family: Cabin;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 1.5px;
  color: #717c89;
  padding-top: 40px;
  padding-bottom: 15px;
}
.page-node-type-page .field--name-body h3 {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 1.5px;
  color: #717c89;
  padding-top: 40px;
  padding-bottom: 25px;
}
.page-node-type-page .field--name-body p {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
  padding-bottom: 15px;
  line-height: 25px;
}
.page-node-type-page .field--name-body li {
  padding-bottom: 20px;
  list-style: initial;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
}
.page-node-type-page .field--name-body ul {
  padding-left: 30px;
}
.region-content {
  padding-bottom: 50px;
}
.region-featured {
  padding-top: 35px;
}
.region-featured ul li a {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  color: #717c89;
}
.region-featured ul li {
  border-bottom: 1px solid #e8eef2;
  height: 55px;
}
.region-featured ul li.active a {
  color: #fb1d00;
}
div .author_details {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #a3b6b4;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: justify;
  word-spacing: 4px;
}
div .author_details span:first-child {
  color: #fb1d00;
  text-transform: capitalize;
}
div.blog_body {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
  line-height: 25px;
}
div.blog_body ol {
  padding-left: 20px;
}
div.blog_body ol li {
  list-style: decimal;
}
div.comment_blog {
  margin-top: 50px;
  margin-bottom: 30px;
}
div.comment_blog h3 {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: capitalize;
}
div.view-blogs h2 a,
div.view-topic-view h2 a {
  font-family: Cabin;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  color: #36413e;
  text-decoration: none;
}
div.view-blogs .author_details_view,
div.view-topic-view .author_details_view {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a3b6b4;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: justify;
  word-spacing: 4px;
}
div.view-blogs div.read_more_blog a,
div.view-topic-view div.read_more_blog a {
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 15px;
  background-color: #717c89;
}
div.view-blogs div.read_more_blog,
div.view-topic-view div.read_more_blog {
  padding-top: 25px;
}
div.view-blogs div.views-row,
div.view-topic-view div.views-row {
  padding-top: 45px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e8eef2;
  min-height: 150px;
}
.path-blogs div.region-blog-search {
  margin-top: 45px;
}
.path-blogs #edit-submit-blogs {
  display: none;
}
.block-views-exposed-filter-blockblogs-page-1 {
  margin-top: 45px;
}
.block-views-exposed-filter-blockblogs-page-1 #edit-submit-blogs {
  display: none;
}
section#block-testform {
  margin-top: 35px;
}
section#block-testform h2 {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
  padding-bottom: 25px;
}
section#block-testform div.field--name-body {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
}
section#block-testform ul {
  padding-top: 20px;
  padding-left: 35px;
}
section#block-testform li {
  list-style: inherit;
  padding-bottom: 5px;
}
section#block-testform .get_book {
  background-color: #fb1d00;
  color: #fff;
  padding: 15px;
}
.page-node-type-blog h2 {
  font-family: OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
  padding-bottom: 25px;
}
.page-node-type-blog .control-label {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
}
.page-node-type-blog .has-error .form-control,
.page-node-type-blog .form-control {
  border-color: #717c89;
}
.page-node-type-blog .btn-success,
.page-node-type-blog .btn-success:hover {
  color: #fff;
  background-color: #717c89;
  border-color: #717c89;
}
.page-node-type-blog div.comment_details {
  color: #a3b6b4;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: justify;
  word-spacing: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.form-item-homepage {
  display: none;
}
.page-node-type-portfolio-item div.cont_title {
  display: none;
}
#block-views-block-topics-block-1 {
  margin-top: 30px;
}
#block-views-block-topics-block-1 ul li {
  padding-bottom: 30px;
  float: left;
  padding-right: 15px;
}
#block-views-block-topics-block-1 ul li a {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  color: #717c89;
  padding: 10px;
  background-color: #e8eef2;
}
#block-views-block-topics-block-1 h2 {
  font-family: OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
  padding-bottom: 25px;
}
#block-relatedblogpost h2,
section#block-views-block-related-posts-block-1 h2,
section#block-views-block-related-posts-block-2 h2,
section#block-views-block-related-posts-block-3 h2 {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8eef2;
}
#block-relatedblogpost div.relatedpost,
section#block-views-block-related-posts-block-1 div.relatedpost,
section#block-views-block-related-posts-block-2 div.relatedpost,
section#block-views-block-related-posts-block-3 div.relatedpost {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
  margin-right: 30px;
}
#block-relatedblogpost h1,
section#block-views-block-related-posts-block-1 h1,
section#block-views-block-related-posts-block-2 h1,
section#block-views-block-related-posts-block-3 h1 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.3px;
  color: #36413e;
  line-height: 25px;
}
#block-relatedblogpost p,
section#block-views-block-related-posts-block-1 p,
section#block-views-block-related-posts-block-2 p,
section#block-views-block-related-posts-block-3 p {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
  line-height: 25px;
}
#block-relatedblogpost a,
section#block-views-block-related-posts-block-1 a,
section#block-views-block-related-posts-block-2 a,
section#block-views-block-related-posts-block-3 a {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
}
#block-defaultblock .btn-primary {
  color: #fff;
  background-color: #fb1d00;
  border-color: #fb1d00;
}
#block-defaultblock h2 {
  font-family: OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
  padding-bottom: 25px;
}
#block-defaultblock .control-label {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #717c89;
}
#block-defaultblock .form-control {
  border-color: #717c89;
}
.simple_news_block {
  background: #f0f0f0;
  height: 60px;
  padding: 5px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
}
.simple_news_block .form-item-message {
  float: left;
  width: 500px;
  text-align: right;
}
.simple_news_block .form-type-email {
  width: 300px;
  float: left;
  margin-right: 30px;
  margin-left: 10px;
}
.simple_news_block label {
  display: none;
}
.simple_news_block .form-email {
  margin-top: -8px;
}
.simple_news_block #edit-subscribe {
  background-color: #ed1b24;
  color: #ffffff;
  border-bottom-color: #d4020b;
  margin-top: -8px;
}
.simple_news_block #edit-actions--2 {
  float: left;
}
.simple_news_block .close_news {
  float: right;
  cursor: pointer;
}
.modal-content {
  background-color: #f0f0f0 !important;
}
.modal-content .modal-header {
  text-align: center;
}
.modal-content h4 {
  font-family: Cabin;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 1.5px;
  color: #717c89;
}
.modal-content .form-item-message {
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  letter-spacing: 1.5px;
  color: #717c89;
}
.modal-content label {
  display: none;
}
.modal-content #edit-actions--2 {
  text-align: center;
}
.modal-content #edit-subscribe {
  background-color: #ed1b24;
  color: #ffffff;
  border-bottom-color: #d4020b;
  margin-top: -8px;
}
.header_fix {
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.menu_container {
  margin-top: 150px;
}
@media screen and (max-width: 992px) {
  .menu_container {
    margin-top: 150px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .simple_news_block .form-item-message {
    width: initial;
  }
}
@media screen and (max-width: 768px) {
  .simple_news_block {
    height: 120px;
  }
  .simple_news_block .form-item-message {
    float: none;
    text-align: center;
    width: initial;
  }
  .simple_news_block .form-type-email {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
  .simple_news_block #edit-actions--2 {
    float: none;
    text-align: center;
  }
  .simple_news_block .close_news {
    display: none;
  }
  .menu_container {
    margin-top: 190px !important;
  }
}
@media screen and (max-width: 401px) {
  .menu_container {
    margin-top: 220px !important;
  }
}
div.cont_title p.fullservice_para {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #a3b6b4;
}
div.cont_title a.get_started {
  padding: 10px;
  border: 1px solid #fb1d00;
  background-color: #fb1d00;
  color: #ffffff;
}
div.cont_title div.getstarted {
  margin-top: 35px;
  margin-bottom: 30px;
}
div.nav-tabs-custom {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
div.nav-tabs-custom ul li {
  min-width: 25%;
  text-align: center;
  border: 1px solid #ddd;
}
div.nav-tabs-custom ul li a {
  border-radius: 0;
  border: none !important;
  color: #717c89;
}
div.nav-tabs-custom ul li.active > a {
  color: #fb1d00 !important;
}
div.nav-tabs-custom ul li:first-child,
div.nav-tabs-custom ul li:last-child {
  border-left: none;
}
div.nav-tabs-custom div.tab-content h1 {
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #36413e;
  margin-top: 55px;
  text-align: center;
  margin-bottom: 20px;
}
div.nav-tabs-custom div.tab-content p {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
  margin-bottom: 35px;
  text-align: center;
}
div.nav-tabs-custom div.tab-content div.caption {
  margin-top: 20px;
}
div.nav-tabs-custom div.tab-content div.caption h3 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #36413e;
  margin-bottom: 20px;
}
div.nav-tabs-custom div.tab-content div.caption p {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #717c89;
}
div.nav-tabs-custom div.signup {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 40px;
}
div.nav-tabs-custom div.signup a {
  padding: 10px;
  border: 1px solid #fb1d00;
  background-color: #fb1d00;
  color: #ffffff;
}
div.nav-tabs-custom div.cust-image {
  text-align: center;
}
div.nav-tabs-custom div.cust-image img {
  margin: 0 auto;
}
div.nav-tabs-custom div#menu1 {
  background: #e8eef2;
}
div.nav-tabs-custom div#menu1 div.could_easier {
  text-align: center;
}
div.nav-tabs-custom div#menu1 p.could_easier_para {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
  margin-top: 40px;
  margin-bottom: 40px;
}
div.nav-tabs-custom div#menu2 table td {
  text-align: center;
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #36413e;
  border: 1px solid #a3b6b4;
}
div.nav-tabs-custom div#menu2 table td p {
  margin-bottom: 0;
  font-size: 12px;
}
div.nav-tabs-custom div#menu2 table p.price {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #717c89;
}
div.nav-tabs-custom div#menu2 table div.plan_signup {
  margin-top: 0;
  margin-bottom: 5px;
}
div.nav-tabs-custom div#menu2 table div.plan_signup a {
  padding: 5px 30px;
  border: 1px solid #717c89;
  background-color: #717c89;
  color: #ffffff;
}
div.nav-tabs-custom div#menu2 table div.plan_signup a:hover {
  background: #fb1d00;
  border: 1px solid #fb1d00;
  text-decoration: none;
}
div.nav-tabs-custom div#menu2 table p.price_check {
  font-size: 14px;
  color: #36413e;
}
div.nav-tabs-custom div#menu2 table p.price_check .fa-check {
  color: #1cc000;
}
div.nav-tabs-custom div#menu2 table p.price_check .fa-times {
  color: #fb1d00;
}
div.nav-tabs-custom div#menu3 div.question {
  min-height: 80px;
}
div.nav-tabs-custom div#menu3 div.question h3 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #36413e;
  margin-bottom: 20px;
  margin-top: 50px;
}
div.nav-tabs-custom div#menu3 div.question p {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #36413e;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  div.nav-tabs-custom ul li {
    width: 100%;
  }
}
section#block-views-block-related-posts-block-1 div.views-view-grid,
section#block-views-block-related-posts-block-2 div.views-view-grid,
section#block-views-block-related-posts-block-3 div.views-view-grid {
  margin-bottom: 20px;
  margin-top: 20px;
}
section#block-views-block-related-posts-block-1 div.views-field-field-teaser,
section#block-views-block-related-posts-block-2 div.views-field-field-teaser,
section#block-views-block-related-posts-block-3 div.views-field-field-teaser {
  margin-top: 20px;
  margin-bottom: 20px;
}
section#block-views-block-blogs-block-1 div.views-field-title {
  margin-bottom: 25px;
}
form#stripe-payment {
  margin-top: 20px;
}
form#stripe-payment label {
  display: inline-block;
  width: 11%;
  margin-bottom: 5px;
  font-weight: 700;
  float: left;
  margin-right: 20%;
}
form#stripe-payment .form-control {
  width: 50%;
}
form#stripe-payment #edit-exp-month {
  width: 10%;
  float: left;
  margin-right: 25px;
}
form#stripe-payment #edit-exp-year {
  width: 10%;
}
form#stripe-payment #edit-actions {
  text-align: center;
}
form#stripe-payment #edit-actions .btn {
  padding: 6px 55px;
  background-color: #36413e;
  border-color: #36413e;
}
div.view-blogs .pagination>.active>a,
div.view-blogs .pagination>.active>a:focus,
div.view-blogs .pagination>.active>a:hover,
div.view-blogs .pagination>.active>span,
div.view-blogs .pagination>.active>span:focus,
div.view-blogs .pagination>.active>span:hover,
div.view-topic-view .pagination>.active>a,
div.view-topic-view .pagination>.active>a:focus,
div.view-topic-view .pagination>.active>a:hover,
div.view-topic-view .pagination>.active>span,
div.view-topic-view .pagination>.active>span:focus,
div.view-topic-view .pagination>.active>span:hover,
div.view-recent-project .pagination>.active>a,
div.view-recent-project .pagination>.active>a:focus,
div.view-recent-project .pagination>.active>a:hover,
div.view-recent-project .pagination>.active>span,
div.view-recent-project .pagination>.active>span:focus,
div.view-recent-project .pagination>.active>span:hover {
  color: #36413e;
  background-color: #e8eef2;
  border-color: #36413e;
}
div.view-blogs .pagination>li>a,
div.view-topic-view .pagination>li>a,
div.view-recent-project .pagination>li>a {
  color: #717c89;
  border: 1px solid #ddd;
}
div.footer_wrapper {
  background-color: #36413e;
  height: auto;
}
div.footer_wrapper div.footer {
  margin-top: 50px;
}
div.footer_wrapper h2 {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #717c89;
}
div.footer_wrapper div.region {
  margin-top: 25px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #e8eef2;
}
div.footer_wrapper p {
  line-height: 25px;
  padding-bottom: 10px;
}
div.footer_wrapper div.footer_bottom {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: #a3b6b4;
}
div.footer_wrapper a {
  color: #fff;
  text-decoration: underline;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0   ;
  -moz-border-radius: 0   ;
  border-radius: 0   ;
}
.dropdown-submenu > a:after {
  content: " ";
  float: right;
  display: block;
  width: 0;
  height: 0;
  margin-top: 9px;
  margin-right: 10px;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}
@media 992px {
  .dropdown-submenu > a:after {
    margin-top: 7px;
    margin-right: -10px;
    border-top: 4px solid transparent;
    border-right: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #000000;
  }
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius:  0  ;
  -moz-border-radius:  0  ;
  border-radius:  0  ;
}
