<div class = "row protrow">
<div class = "protfolioimg col-md-4">
    {{ fields.field_portfolio_image.content }}
</div>
<div class = "protcontent col-md-8">
    <h3>{{ fields.title.content }}</h3>
    {{ fields.body.content }}
    <div class = "morelinkprot">
        <a href = "/node/{{ row.nid }}">FULL CASE STUDY </a>
    </div>
</div>
</div>