{% include 'header.html.twig' %}

<div class="cont_header col-md-12">
    {{ page.contact_us_header }}

</div>
<div class="container">

    <div class="row">
    <div class="col-md-9">
        {{ page.content }}

    </div>
    <div class="col-md-3">
        {{ page.contact_details }}

    </div>
    </div>
</div>
{% include 'footer.html.twig' %}



