{% include 'header.html.twig' %}
<div class = "container-fluid protheader">
    <div class="container">
        <div class = "col-md-8">
            <h2>Case Studies</h2>
            <p class = "protbody">We’ve worked with clients in many different industries,
                each requiring a uniqe personalized solution.</p>
            <p class="protbody1">Explore our featured studies below.</p>
        </div>
        <div class="col-md-4">
            {{ page.prot_filter }}
        </div>

    </div>
</div>
<div class="container">
    <div class="col-md-12">
        {{ page.content }}
    </div>
</div>

{% include 'footer.html.twig' %}